{{ $page := . }}
{{ if gt (len site.Languages) 1 }}
    <div id="paige-language-selector" class="text-center paige-row-short">
        {{ range site.Languages }}
            {{ $lang := . }}
            {{ if eq $lang.Lang $page.Language.Lang }}
                <span class="fw-bold">{{ $lang.LanguageName }}</span>
            {{ else }}
                <a href="{{ $page.Permalink | absLangURL | strings.TrimPrefix (site.BaseURL | strings.TrimSuffix "/") }}{{ $lang.Lang }}{{ strings.TrimPrefix ($lang.Lang | printf "/%s") $page.RelPermalink }}">{{ $lang.LanguageName }}</a>
            {{ end }}
            {{ if ne $lang.Lang (index site.Languages (sub (len site.Languages) 1)).Lang }}
                <span class="mx-2">·</span>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
