{{ $page := . }}

{{ $class := slice }}
{{ $content := $page.Content }}
{{ $draft := $page.Draft }}
{{ $expired := and $page.ExpiryDate (lt $page.ExpiryDate now) }}
{{ $future := and $page.PublishDate (gt $page.PublishDate now) }}
{{ $min := $page.Param `cag.pages.full_width` | not }}
{{ $modified := and $page.PublishDate $page.Lastmod (lt $page.PublishDate $page.Lastmod) }}

{{ if $draft }}
    {{ $class = $class | append "cag-status-draft" "cag-status-unpublished" }}
{{ end }}

{{ if $expired }}
    {{ $class = $class | append "cag-status-expired" "cag-status-unpublished" }}
{{ end }}

{{ if $future }}
    {{ $class = $class | append "cag-status-future" "cag-status-unpublished" }}
{{ end }}

{{ if $modified }}
    {{ $class = $class | append "cag-status-modified" }}
{{ end }}

{{ if not (or $draft $expired $future) }}
    {{ $class = $class | append "cag-status-published" }}
{{ end }}

{{ with $page.Kind }}
    {{ if eq . "home" }}
        {{ $class = $class | append "cag-kind-home" }}
    {{ else if eq . "section" }}
        {{ $class = $class | append "cag-kind-section" }}
    {{ else if eq . "page" }}
        {{ $class = $class | append "cag-kind-page" }}
    {{ else if eq . "taxonomy" }}
        {{ $class = $class | append "cag-kind-taxonomy" }}
    {{ else if eq . "term" }}
        {{ $class = $class | append "cag-kind-term" }}
    {{ end }}
{{ end }}

{{ $class = delimit ($class | uniq | sort) " " }}

{{ $title := and ($page.Param "cag.pages.disable_title" | not) ($page.Title | markdownify) }}

<article class="{{ if $min }} flex flex-col items-center {{ end }} {{ $class }}" id="cag-page">
    {{ if $title }}
        <header class="max-w-full text-center pb-6 mb-2 border-b border-border" id="cag-page-header">
            <h1 class="text-4xl md:text-5xl font-bold bg-gradient-to-br from-brand-500 to-brand-400 bg-clip-text text-transparent tracking-[-0.02em] pb-[0.15em] mb-6" id="cag-page-title">{{ $title }}</h1>
        </header>
    {{ end }}

    <main class="max-w-full prose-cag" id="cag-page-content">
        {{ with $content }}
            {{ . | safeHTML }}
        {{ end }}
    </main>
</article>
