{{ $page := . }}

{{ $copyright := and ($page.Param "paige.site.disable_copyright" | not) (site.Copyright | markdownify) }}
{{ $credit := $page.Param "paige.site.credit" }}

{{ if $credit }}
    {{ $credit = markdownify $credit }}
{{ else }}
    {{ $credit = `<a class="link-secondary text-decoration-none" href="https://github.com/willfaught/paige">Paige Theme</a>` | safeHTML }}
{{ end }}

{{ $credit = and ($page.Param "paige.site.disable_credit" | not) $credit }}

{{ if or $copyright $credit }}
    <footer id="paige-site-footer">
        {{ with $copyright }}
            <p class="paige-row-short text-center text-secondary" id="paige-site-copyright">{{ . }}</p>
        {{ end }}

        {{ with $credit }}
            <p class="paige-row-short text-center text-secondary" id="paige-site-credit">{{ . }}</p>
        {{ end }}
    </footer>
{{ end }}
